@font-face{
    font-family: Abel-Regular;
    src: url("../webfonts/Abel-Regular.ttf")
}
.bg-modal{
    position:absolute; 
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.7);
    top: 0;
    z-index: 3000;
    justify-content: center;
    align-items: center;
}
.display{
    display: flex
}
.no-display{
    display:none;
}
.modal{
    flex-direction: column;
    width: 400px;
    height: auto;
    background-color: white;
    padding-top: 25px;
    position: relative;
    border-radius: 10px 10px 10px 10px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: justify;
    text-justify: inter-word;
}
.modal h3{
    font-family: Abel-Regular;
}
.close-button{
    position: absolute;
    top:5px;
    transform: rotate(45deg);
    height: 20px;
    width: 20px;
    font-size: 30px;
    cursor: pointer;
    right:5px;
    border: 2px solid #4d0656;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1px;
}
.align-center{
    display: flex;
    justify-content: center;
    margin-top: -10px;
}

#facebook{
    padding-right: 30px;
}
